@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins',sans-serif !important;
}

.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 70px;
} 

.btn-primary{
    align-items: center;
    box-shadow: none !important;
    padding: 8px 20px;
    border-radius: 2px !important;
    border: 2px solid #3c366b !important;
    color: #3c366b !important;
    background-color: none !important;
}

.btn-primary:hover{
    background: #3c366b !important;
    color: #fff !important;
    border: 2px solid #3c366b !important;
}